/* styles.css */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-button {
  background: linear-gradient(135deg, #22ade2, #1482ff, #1cddd1);
  background-size: 200% 200%;
  animation: gradientAnimation 3s ease infinite;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  min-width: 25vw;
  text-align: center;
}

.header-background {
  background-color: black;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.header-justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  width: 100%;
  max-width: 300px;
  margin-right: 10px;
  pointer-events: none;
}

.header-logo-image {
  width: 100%;
  max-width: 728px;
  margin-right: 10px;
  pointer-events: none;
}

.gradient-button {
  background: linear-gradient(135deg, #22ade2, #1482ff, #1cddd1);
  background-size: 200% 200%;
  animation: gradientAnimation 3s ease infinite;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  min-width: 25vw;
  text-align: center;
}

.flow-container {
  overflow: hidden;
  white-space: nowrap;
}

.flow-content {
  animation: textslide 10s linear infinite;
  font-size: large;
}

.not-flow-content {
  font-size: large;
}

.flowing-button {
  position: relative;
  overflow: hidden;
  min-width: auto;
}

.flowing-button .content {
  white-space: nowrap;
  display: inline-block;
}

.flowing-button .flow-text {
  position: absolute;
  top: 0;
  left: 100%;
  white-space: nowrap;
  animation: slide linear infinite;
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes textslide {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.gradient-button:hover {
  filter: brightness(1.1);
}

.gradient-skeleton {
  background: linear-gradient(135deg, #e7e7e7, #757575, #c9c9c9);
  background-size: 200% 200%;
  animation: gradientAnimation 3s ease infinite;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.tokenlist-background {
  background-color: #191919;
  width: 100%;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* pointer-events: none; */
}

.token-list-logo {
  pointer-events: none;
  width: 10vw;
}

.tokenlist-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: calc(71vw-20px);
}

.token-item {
  display: flex;
  font-family: "altivo";
  color: white;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 10px;
}

.dropdown-container {
  width: 15vw;
}

.token-element {
  margin-right: 5px;
  font-size: large;
}

.token-element-rate {
  margin-left: -5px;
  font-size: small;
}

.dropdown-button {
  border: 2px solid #00a3cc;
  text-wrap: nowrap;
  background-color: #191919;
  color: white;
  font-size: small;
  padding: 0.6rem 0.5rem;
  width: 100%;
}

.dropdown-button:hover {
  cursor: pointer;
}

.table-container {
  border: 2px solid #00a3cc;
}

.custom-table {
  border-collapse: collapse; /* Collapse table borders */
  width: 100%; /* Optionally, set table width */
}

.custom-table th,
.custom-table td {
  border: none; /* Remove all borders */
  padding: 8px;
}

.custom-table tr td:first-child {
  padding-left: 60px; /* Adjust as needed */
}

.custom-table tr th:first-child {
  padding-left: 80px; /* Adjust as needed */
}

.custom-table tr th:last-child {
  padding-right: 80px; /* Adjust as needed */
}

.custom-table th {
  background-color: #191919; /* Set background color for header cells */
  color: white;
}

.custom-table td {
  background-color: black; /* Set background color for header cells */
}

.menubutton {
  border: 2px solid #00a3cc;
  background-color: #191919;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 17px;
  right: -55px;
  width: 40px;
  height: 40px;
  z-index: 10;
}

@import url("https://fonts.googleapis.com/css2?family=Altivo:wght@400;500;700&display=swap");

.font-header {
  font-family: "altivo";
  font-weight: 500;
}

.font-regular {
  font-family: "altivo";
  font-weight: 400;
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Start transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeInOverlay 0.5s forwards; /* Add fade-in animation */
}

.modal-content {
  background-color: #1a1a1a;
  padding: 30px 40px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  color: #fff;
  position: relative;
  opacity: 0;
  transform: translateY(-20px);
  animation: slideIn 0.5s forwards; /* Add slide-down animation */

  border: 2px solid #00a3cc !important;
  background-image: linear-gradient(#1a1a1a, #1a1a1a),
    linear-gradient(135deg, #22ade2, #1482ff, #1cddd1);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  .token-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #00a3cc;
    padding-bottom: 15px;
    color: white;

    h2 {
      margin-bottom: 0;
    }
  }

  .token-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: white;

    /* key text */
    span.key {
      text-align: left;
    }
  }

  .address {
    font-size: 0.9em;
    color: #00a3cc;
    word-break: break-all;
    transition: color 0.3s ease;
  }

  .address:hover {
    color: #22ade2;
  }
  
}

.modal-content.closing {
  animation: slideOut 0.3s ease-in forwards;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.modal-close-button:hover {
  color: #00a3cc; /* Change color on hover to match theme */
}

/* Token Table Styles */
.token-table tbody tr {
  cursor: pointer;
}

/* Row */
.token-table tbody tr:hover {
  background-color: #333;
}

.table-row-container:hover td {
  animation: rowHover 0.3s ease forwards;
}

/* Top Token */
.token-item.top-token {
  cursor: pointer;
  padding: 0px 10px;
  transition: all 0.3s ease;
}

.token-item.top-token:hover {
  animation: rowHover 0.3s ease forwards;
  border-radius: 5px;
  color: #00a3cc;
}
/* Animations */
@keyframes rowHover {
  from {
    background-color: transparent;
  }
  to {
    background-color: #00a3cc45;
  }
}

@keyframes fadeInOverlay {
  to {
    background-color: rgba(0, 0, 0, 0.5); /* Fade to semi-transparent */
  }
}

@keyframes fadeOutOverlay {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes slideInTable {
  from { 
    opacity: 0;
    transform: translateY(-60px);
    transform: translateX(-50%);
  }
  to { 
    opacity: 1;
    transform: translateY(0);
    transform: translateX(-50%);
  }
}

@keyframes slideIn {
  from { 
    opacity: 0;
    transform: translateY(-60px);
  }
  to { 
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from { 
    opacity: 1;
    transform: translateY(0);
  }
  to { 
    opacity: 0;
    transform: translateY(-60px);
  }
}
